# Settings for pyfd daemon.
# To be placed in /etc/pyfd.conf

# For the default configuration to work, a
# user named pyfd with a home directory /var/lib/pyfd
# must have been created, for instance with:
#  useradd --base-dir /var/lib/pyfd \
#          --comment 'PyFortunes Daemon User'  \
#          --create-home \
#          --system \
#          --shell /bin/false
#          pyfd
#
# Else, simply change the settings with your username and
# your database path

[pyfd]
# user = pyfd
# directory = /var/lib/pyfd/
port=8080
